@import url("https://fonts.googleapis.com/css2?family=Khand:wght@400;600;700&display=swap");
html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: "Khand", sans-serif;
}
.app {
  display: flex;
  position: relative;
}
body {
  overflow: auto;
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle Hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-moz-selection {
  color: #ffc107;
  background: #1212;
}

::selection {
  color: #ffc107;
  background: #1212;
}
